.about-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    text-indent: 10px;
    padding: 40px;
}
.indent {
    text-indent: 10px;
}

.about-title {
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
}

.side-paragraph {
    text-align: left;
    padding-right: 45px;
    padding-left: 45px;
}

p {
    padding: 5px;
}

.herman {
    width: 300px;
    margin: 0 auto;
}

.herman2 {
    height: 492px;
    margin: 0 auto;
}

.bold {
    font-weight:bold;
}