.inkblot_container {
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

.gallery-header {
    padding: 20px;
}

.inkblot-pics {
    width: 736px;
    height: 482px;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 600;
}

h4 {
    font-weight: 500;
    font-style: italic;
}

img {
    -webkit-animation: flip 1s;
    animation: flip 1s;
  }
  @-webkit-keyframes flip {
    from {
      transform: rotateY(90deg)
    }
    to {
      transform: rotateY(0deg)
    }
  }
  @keyframes flip {
    from {
      transform: rotateY(90deg)
    }
    to {
      transform: rotateY(0deg)
    }
  }