.inkblot-test {
    text-align: center;
    margin: 0 auto;
  }

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
.card-img {
    width: 736px;
    height: 482px;
}
  
.card-container {
    padding: 30px;
    text-align: center;
}

/* 
.text-box {
} */